section#future-footer
  .container
    .links
      h5 Explore
      a(href="index.pug") Home
      a(href="ailab.pug") Artificial Intelligence Lab
      a(href="xrlab.pug") Extended Reality Lab
      a(href="https://fablabkerala.in/?utm_source=futurelab&utm_medium=website&utm_campaign=webpage_footer" target="_blank") Fab Lab
      //- a(href="#") Robotics & IoT
      h4 &copy; All Rights Reserved
//- section#ksum-footer.section-content
//-   .container
//-     .row
//-       .col-sm-4.left-col
//-         img.img-fluid(src="./img/logo-white.svg" alt="ksum logo")
//-         .address
//-           p G3B, Thejaswini, Technopark Campus, Kariyavattom, Trivandrum, Kerala 695581
//-         .phone 
//-           div 
//-             i.fa.fa-phone
//-             | 08047180470
//-           p ( Timings: 08.00 am to 08.00 pm )
//-         .social
//-           a(href="https://www.facebook.com/keralastartupmission" target="_blank" rel="noopener" aria-label="fb link")
//-             i.fa.fa-facebook
//-           a(href="https://twitter.com/startup_mission" target="_blank" rel="noopener" aria-label="twitter link")
//-             i.fa.fa-twitter
//-           a(href="https://in.linkedin.com/company/kerala-startup-mission" target="_blank" rel="noopener" aria-label="linkedin link")
//-             i.fa.fa-linkedin
//-           a(href="https://www.pinterest.com/pin/796996465276301175/" target="_blank" rel="noopener" aria-label="pintrest link")
//-             i.fa.fa-pinterest
//-           a(href="https://www.youtube.com/results?search_query=kerala+startup+mission" target="_blank" rel="noopener" aria-label="youtube link")
//-             i.fa.fa-youtube-play
//-       .col-sm-4
//-       .col-sm-4.right-col
        

//- section#ksum-copy
//-   p Copyright © 2019 Kerala Startup Mission. All Rights Reserved.