nav.site-navigation
  .logo
  .hamburger-menu.d-lg-none
    span
    span
    span
    span
  ul
    
    li
      a(data-scroll, href='index.pug') Home
    li
      a(data-scroll, href='https://startupmission.kerala.gov.in/about' target="_blank") About KSUM
    li
      //- a(data-scroll, href='/console' target="_blank") Login
      a(data-scroll, href='#' target="_blank" onclick="alert('Registration closed Temporarly')") Login
    li
      a(data-scroll, href='contact.pug') Contact
    