@import "./mixins";
#contact-section {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  h1 {
    font-weight: 700;
  }
  .contact-form {
    margin: 0 auto;
    padding-top: 50px;
    @include my_bp(sm) {
      width: 70%;
    }
    .form-group {
      display: flex;
      align-items: center;
      label {
        width: 20%;
        text-align: left;
        margin: 0;
      }
      .form-control {
        border-radius: 25px;
        background-color: #F2F2F2;
        border: 1px solid #707070;
      }
      select {
        appearance: none;
      }
      .btn {
        border-radius: 25px;
        background-color: #F2F2F2;
        border: 1px solid #707070;
        color: #707070;
      }
    }
  }
}