@import "./mixins";
#home-section {
  &:before {
    background: rgba(0, 0, 0, .3);
    content: '';
    display: block;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  &:after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    content: '';
    display: block;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  #video-slider {
    height: 100vh;
    #info-container {
      position: absolute;
      color: white;
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 10;
      left: 0;
      margin-top: 5%;
      padding: 10px;
      @include my_bp(sm) {
        padding: 0;
      }
      h1 {
        font-size: 30px;
        font-weight: 700;
        @include my_bp(sm) {
          font-size: 40px;
        }
      }
      h2 {
        font-size: 50px;
        font-weight: 800;
        @include my_bp(sm) {
          font-size: 80px;
        }
      }
      p {
        text-align: justify;
      }
      .header-name {
        width: 100%;
        text-align: center;
      }
      .header-content {
        margin-top: 70px;
      }
    }
  }
}

#resources {
  h2 {
    font-weight: 700;
  }
  p {
    text-align: justify;
    color: #707070;
    font-size: .9rem;
  }
  .resources {
    padding-top: 40px;
    h3 {
      font-size: 1.2rem;
      font-weight: 600;
      color: #707070;
    }
    .item {
      display: flex;
      align-items: center;
      @include my_bp(sm) {
        flex-direction: row;
      }
      .image {
        width: 100%;
        position: relative;
        @include my_bp(sm) {
          width: 25%;
        }
      }
      .content {
        width: 100%;
        @include my_bp(sm) {
          width: 75%;
        }
        &.inter {
          width: 50%;
        }
      }
      &.right {
        flex-wrap: wrap-reverse;
        justify-content: flex-end;
        .content {
          @include my_bp(sm) {
            padding-right: 40px;
          }
        }
      }
      &.left {
        flex-wrap: wrap;
        .content {
          @include my_bp(sm) {
            padding-left: 40px;
          }
        }
      }
    }
  }
}

#story {
  padding-top: 0px;
  h2 {
    font-weight: 700;
  }
  p {
    text-align: justify;
    color: #707070;
  }
  .stories {
    position: relative;
    padding-top: 20px;
    background: url('../img/story.svg') no-repeat;
    background-position: right bottom;
    height: 600px;
    background-size: contain;
    @include my_bp(sm) {
      background-size: 65%;
      height: 500px;
    }
    &:before {
      content: url('../img/quotes.svg');
      position: absolute;
      top: -20px;
      left: -30px;
      opacity: .3;
    }
    .carousel-indicators {
      li {
        box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
        width: 15px;
        height: 15px;
        border: 0;
        border-radius: 50%;
      }
    }
    .story {
      display: flex;
      flex-wrap: wrap;
      .content {
        @include my_bp(sm) {
          width: 70%;
          margin-right: 25px;
          padding-right: 50px;
          border-right: 1px solid #707070;
        }
        p {
          font-size: .75rem;
        }
      }
      .author {
        display: flex;
        @include my_bp(sm) {
          width: 25%;
        }
        .image {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          img {
            border-radius: 50%;
            filter: grayscale(.9);
          }
        }
        .person {
          padding-left: 10px;
          h4 {
            font-size: 1.1rem;
            margin: 0;
          }
          p {
            font-size: .8rem;
          }
        }
      }
    }
  }
}

#membership {
  h3 {
    font-weight: 700;
  }
  p {
    color: #6A6A6A;
  }
  .plans {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include my_bp(sm) {
      flex-direction: row;
      align-items: stretch;
    }
    .plan-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      text-align: center;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, .3);
      padding: 15px;
      margin: 10px;
      @include my_bp(sm) {
        width: 25%;
        align-items: stretch;
      }
      ul {
        padding: 0;
        li {
          list-style: none;
          font-size: .8rem;
          font-weight: 600;
          color: #3A3A3A;
          padding-bottom: 5px;
        }
      }
      h4 {
        font-family: 'Poppins', Arial;
        font-weight: 700;
        font-size: 1rem;
        margin: 30px 0 20px 0;
      }
      h2 {
        font-family: 'Poppins', Arial;
        color: #1E94FA;
        font-weight: 700;
        font-size: 3rem;
        margin-bottom: 0;
        &:before {
          content: '₹';
          font-size: 1.5rem;
          position: relative;
          top: -1rem;
          position: relative;
        }
        &:after {
          content: '.00';
          font-size: 1.5rem;
        }
      }
      .bottom {
        a {
          border: 2px solid #1E94FA;
          border-radius: 10px;
          padding: 10px 20px;
          display: block;
          margin: 10px;
          transition: all 1s ease;
          font-weight: 600;
          &:hover {
            background: #1E94FA;
            text-decoration: none;
            color: white;
          }
        }
      }
      &.featured {
        position: relative;
        overflow: hidden;
        &:before {
          content: '';
          background-color: #ffa024;
          box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.8);
          height: 150px;
          left: -75px;
          position: absolute;
          top: -75px;
          width: 150px;
          transform: rotate(-45deg);
        }
        &:after {
          content: 'Popular';
          color: white;
          position: absolute;
          transform: rotate(-45deg);
          left: 10px;
          top: 25px;
          font-weight: 600;
        }
      }
    }
  }
}

#course {
  h2 {
    font-weight: 700;
  }
  .courses {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    @include my_bp(sm) {
      flex-direction: row;
      align-items: stretch;
    }
    .course-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      text-align: center;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, .3);
      padding: 15px;
      margin: 10px;
      @include my_bp(sm) {
        width: 27%;
        align-items: stretch;
      }
      h4 {
        font-family: 'Poppins', Arial;
        font-weight: 700;
        font-size: 1rem;
        margin: 20px 0 20px 0;
      }
      p {
        font-size: .9rem;
        text-align: left;
      }
      .bottom {
        a {
          border: 2px solid #1E94FA;
          border-radius: 10px;
          padding: 10px 20px;
          display: block;
          margin: 10px;
          transition: all 1s ease;
          font-weight: 600;
          &:hover {
            background: #1E94FA;
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
}