doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/labs.scss")
  body

    include parts/menu.pug

    section#home-section
      #video-slider
        #ytbg(data-youtube='https://www.youtube.com/watch?v=Pwy9w4D1DM0')

        .container
          .row
            .col-sm-12
              #info-container
                .header-name
                  h2 AI LAB
                .header-content
                  p.small Tesla P100, V100, AI Development boards!
                  h1 Access state-of-the-art GPUs from Nvidia at affordable rates to ramp up your Startup's R&D.

    section.section-content#resources
      .container
        .col-sm-12
          h2 Resources
        .resources
          .item.left
            .image
              img.img-fluid(src="./img/p100.png")
            .content
              h3 PCs with GPUs: Tesla P100 and V100
              p Cloud too expensive? Access state-of-the-art GPUs from Nvidia at affordable rates to ramp up your Startup's R&D.
          .item.right
            .content
              h3 AI Development boards: Jetson TX2, Movidius
              p Jetson TX2 is the fastest, most power-efficient embedded AI computing device. This 7.5-watt supercomputer on a module brings true AI computing at the edge. 
              p The Intel® Movidius VPU is the industry's first always-on vision processor. It delivers high-performance machine vision and visual awareness in severely power-constrained environments. 
            .image
              img.img-fluid(src="./img/jetson.png")

    section.section-content#story
      .container
        .col-sm-12
          h2 Success Story!
        .stories.carousel.slide#story-carousal(data-interval="2000" data-ride="carousel")
          //- ol.carousel-indicators
          //-   li.active(data-target='#story-carousal' data-slide-to='0')
          //-   li(data-target='#story-carousal' data-slide-to='1')
          .carousel-inner
            .carousel-item.active
              .story
                .content
                  p Machine Learning/Deep Learning was maturing and starting to be adopted during the 2016-2017 time. We came to know of an initiative of KSUM called future technologies lab which is an R/D facility catering to the industry 4.0 technologies like AI, Robotics, AR/VR, BCI, IoT & Cybersecurity. Though hesitant, Pranoy and I decided to give it a try. Coming to future technologies lab was the turning point that we had.
                  p We got access to the cloud servers to run deep learning algorithms. We were able to use NVIDIA Tesla P100 which was the then state of the art GPU Machine worth 20k USD. The benefit here was if this was not available we would have had to depend on AWS servers which would have brought a severe cash burn and staying lean and capital-efficient was key. We were exposed to a rich and vibrant ecosystem of other startups and other technology experts working on ai and other future technologies. This resulted in peer learning, which was very effective and also helped us quickly grasp the know-how of how to build a product that customers would want and a lot of essential practical startup advice.
                .author
                  .image
                    img.img-fluid(src="./img/savio-nueroplex.jpg")
                  .person
                    h4 Savio Victor
                    p Co-Founder, Neuroplex
            
    section#membership
      .container
        .row
          .col-sm-12.text-center
            h3 Choose Your Membership Plan
            p.small.m-0  The plans are applicable only for selected Startups and individuals working in emerging technologies. 
            a.small(href="#") Check your eligibility now!
            p.small For corporate Membership, please 
              a(href="contact.pug") write to us!
          .plans
            .plan-item
              .top
                h4 NOVICE
                h2 2000
                p.small Per Month
                ul
                  li 1 flexi seat
                  // li Access to 5 day bootcamp
                  li Mentor Connects & Supports
              .bottom
                //- a(href="/console/register") JOIN NOW
                a(href="#" onclick="alert('Registration closed Temporarly')") JOIN NOW
            .plan-item
              .top
                h4 COMPUTATION - PRO
                h2 4000
                p.small Per Month
                ul
                  li 1 flexi seat
                  li Access to Nvidia GPUs (shared use)
                  li Dedicated officer as single PoC for all KSUM Schemes
                  li Monthly Brainstorming
              .bottom
                //- a(href="/console/register") JOIN NOW
                a(href="#" onclick="alert('Registration closed Temporarly')") JOIN NOW
            .plan-item.featured
              .top
                h4 PRO
                h2 4000
                p.small Per Month
                ul
                  li 1 flexi seat
                  li Access to AI Lab (except GPUs)
                  li Dedicated officer as single PoC for all KSUM Schemes & supports
                  li Monthly Brainstorming 
              .bottom
                //- a(href="/console/register") JOIN NOW
                a(href="#" onclick="alert('Registration closed Temporarly')") JOIN NOW
            .plan-item
              .top
                h4 PREMIUM
                h2 6000
                p.small Per Month
                ul
                  li 1 flexi seat
                  li Access to AI Lab with P100 GPUs
                  li Dedicated officer as single PoC for all KSUM Schemes & supports
                  li Monthly Brainstorming 
              .bottom
                //- a(href="/console/register") JOIN NOW
                a(href="#" onclick="alert('Registration closed Temporarly')") JOIN NOW


    include parts/footer.pug

    script(src="./js/index.js")
    script(src="./js/youtube.js")
    script(src="./js/ailab.js")
