doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/contact.scss")
  body

    section#contact-section
      .container
        .row
          .col-sm-12.text-center
            h1 Write to us!
            .contact-form
              form.gform(method="POST" action="#")
                .form-group
                  label(for='email') Purpose
                  select#purpose.form-control(name="purpose" required)
                    option Partnership
                    option Community
                    option Program
                    option Complaints
                    option Enquiry
                .form-group
                  label(for='name') Name
                  input#name.form-control(type='text' name="name" placeholder='Enter Your Name' required)
                .form-group
                  label(for='email') Email address
                  input#email.form-control(type='email' name="email" placeholder='youremail@example.com' required)
                .form-group
                  label(for='phone') Phone Number
                  input#phone.form-control(type='number' name="phone" placeholder='Enter Your Phone' required)
                .form-group
                  label(for='message') Enquiry
                  textarea#message.form-control(rows='3' name="message") 
                .form-group.justify-content-end
                  button.btn.btn-primary(type="submit") Submit


  include parts/footer.pug

  script(src="./js/index.js")