doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/home.scss")
  body

    include parts/menu.pug

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    section#home-section
      #video-slider
        #ytbg(data-youtube='https://www.youtube.com/watch?v=b28jZVpz26Y')
      .overlay-1
      .overlay-2
      #info-container
        .header-name
          h2 Future 
          h2 Technologies
          h2 Lab
        .header-links
          a(href="ailab.pug") Artificial Intelligence Lab
          a(href="xrlab.pug") Extended Reality Lab
          a(href="http://superlab.fablabkerala.in" target="_blank") Fab Lab
          //- a(href="#") Robotics & IoT
        .header-videos
          a.video-item.video-pop-up.unity(href='https://www.youtube.com/watch?v=SOOF_Hftmgs')
            .title
              .content
                h3 Unity
                h4 Center of Excellence
          a.video-item.video-pop-up.fablab(href='https://www.youtube.com/watch?v=Ka2tVo1hZyA')
            .title
              .content
                h3 Fablab
                h4 BY MIT Bits and Atoms
          a.video-item.video-pop-up.ciid(href='https://www.youtube.com/watch?v=WZPIT82J4Dk')
            .title
              .content
                h3 CIID
                h4 Summer School
          a.video-item.video-pop-up.gic(href='https://www.youtube.com/watch?v=NhpPVPO_0F8')
            .title
              .content
                h3 GIC
                h4 SingularityU
        p.mt-3 Kerala Startup Mission democratizes the access to the rapid prototyping technology via Fablab and to necessary equipment for the research & development of emerging technologies via AI lab, XR lab and Design Lab which help the  startups to turn ideas into functioning prototypes.

    section#apply
      .text-center
        //- a.button(href='/console/register') Apply For Membership
        a.button(href='#' onclick="alert('Registration closed Temporarly')") Apply For Membership

    section#app
      .mt-5.mb-1(v-if='hasopp')
        .container
          .row
            .col-sm-12
              h2 Opportunities
          .row.pt-3

            .col-sm-6(v-for="item in sorted" v-if="item.status=='active'")
              .card.shadow.card-sm.opp
                .card-body
                  .row
                    .col-3
                      img.img-fluid(:src="gdrive(item.companylogo)")
                    .col-9
                      h3 {{item.jobrole}}
                      h4 
                        a(:href="item.companywebsite" target="_blank") {{item.company}}
                      .mb-1
                        span
                          svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z')
                          | {{item.salary}}
                        span
                          svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z')
                          | {{item.lastdatetoapply}}
                      a.button(:href="item.applicationlink" target="_blank" v-if="item.applicationtype=='Website'") Apply Now
                      a.button(:href="'mailto:'+item.applicationemail" target="_blank" v-if="item.applicationtype=='Email'") Mail Your Resume
                      .d-inline.small.pl-1(v-if="item.applicationtype=='Email'") Mail to: {{item.applicationemail}}

    section#apply
      .text-center
        .small
          | Are you looking for right talent? 
          a(href='request.pug' target="_blank") Publish Opportunity Here
    
    section#partners
      .container.text-center
        .row
          .col-sm-25.item
            h5 Partners
            .content
              img.img-fluid.w-60(src="./img/CBAlogo.svg")
              img.img-fluid.w-60(src="./img/ff.svg")
              img.img-fluid.w-60(src="./img/su.svg")
              img.img-fluid.w-60(src="./img/unitylogo.svg")
            a(href="contact.pug") Partner with us!
          .col-sm-5.item
            h5 Community
            .content
              .row.align-items-center
                .col-sm-6
                  img.img-fluid(src="./img/faya.svg")
                .col-sm-6
                  img.img-fluid(src="./img/fb.png")
              .row.align-items-center
                .col-sm-6
                  img.img-fluid(src="./img/owsap.svg")
                .col-sm-6
                  img.img-fluid.w-75(src="./img/gdg.svg")
              .row.align-items-center
                .col-sm-6
                  img.img-fluid(src="./img/tinker.svg")
                .col-sm-6
                  img.img-fluid.w-75(src="./img/unityuser.png")
                
            a(href="contact.pug") Join us!
          .col-sm-25.item
            h5 Programs
            .content
              .row.justify-content-center
                .col-sm-5
                  img.img-fluid(src="./img/ciidsummer.jpg")
                .col-sm-5
                  img.img-fluid(src="./img/ciidsummer.png")
              .row
                .col-sm-12
                  img.img-fluid(src="./img/gic.svg")
              .row
                .col-sm-12
                  img.img-fluid.w-60(src="./img/fabac.svg")

            a(href="contact.pug") Organize with us!

    include parts/footer.pug

    script(src="./js/index.js")
    script(src="./js/youtube.js")
    script(src="./js/home.js")

    script. 
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
      }   
