doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/contact.scss")
  body

    section#contact-section
      .container
        .row
          .col-sm-12.text-center
            #zf_div_sdWkPD9kh6tMeIapWTRDIagd6lUrP-6VApbN9_bNRWo


  include parts/footer.pug

  script(src="./js/index.js")
  script(src="./js/request.js")