doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/labs.scss")
  body

    include parts/menu.pug

    section#home-section
      #video-slider
        #ytbg(data-youtube='https://www.youtube.com/watch?v=ht0WI6loSBE')

        .container
          .row
            .col-sm-12
              #info-container
                .header-name
                  h2 XR LAB
                .header-content
                  p.small VR Treadmill, VR Headsets, AR Glasses, Depth Sensors, 360 Camera!
                  h1 Almost everything to get started with extended reality!

    section.section-content#resources
      .container
        .col-sm-12
          h2 Resources
        .resources
          .item.left
            .image
              img.img-fluid(src="./img/vive.png")
            .content
              h3 VR Headsets: HTC Vive, HP Riverb, Oculus Go
              p A set of headsets are available for testing VR contents which includes the HP Reverb - the highest-resolution VR headset seen to date, HTC Vive- the room scale VR headset and Oculus Go - standalone virtual reality headset.
          .item.right.pt-5
            .content.inter
              h3 AR Glasses: Epson Maverio BT 300 
              p The Epson MOVERIO smart glasses to enable next generation augmented reality experiences
            .image
              img.img-fluid(src="./img/dell.png")
          .item.left.pt-5
            .image
              img.img-fluid(src="./img/omni.png" style="position:absolute;bottom:-100px;")
            .content
              h3 VR Treadmill: Virtuix Omni
              p Omnidirectional treadmill simulator for virtual reality games and other applications. It uses a platform to simulate locomotion i.e. the motion of walking, requiring both special shoes or shoe covers and a surface that reduces friction
          .item.right.pt-5
            .content.inter
              h3 Depth Sensors: ZED mini, Kinect V2, Leap Motion
              p Using advanced depth sensing technologies, it gives live experiences like never before in a world where the real and virtual merge seamlessly.
            .image.w-50
              img.img-fluid(src="./img/kinet.png")
          .item.left
            .image(style="width:15%;")
              img.img-fluid(src="./img/360.png" )
            .content
              h3 360° Camera: Richo Theta Z1 
              p RICOH THETA can shoot 360-degree spherical images in a single shot. The RICOH THETA Z1 is the flagship model of this series, with RICOH deploying exceptional optical and image processing technologies, cultivated through years of high-performance camera development, to pursue its highest resolution and quality to date.

    section.pb-5#course
      .container
        .row
          .col-sm-12
            h2 XR Center of Excellence
            img.pt-4(src="./img/unity-logo.png")
            p.small.text-center.pt-3 Centre of Excellence focuses on providing startups in Kerala with the technology and space for learning, collaboration, and community

          .courses
            .course-item
              .top
                h4 XR Accelerator
                p XR Accelerator is one of the programs run by Unity CoE to support enterprise development in the AR, VR, MR and gaming sector. This CoE is a unique collaboration between Unity Technologies and Future Technologies Lab of Kerala Startup Mission designed with the objective of putting India in the AR/VR map of the world.
              .bottom
                a(href="https://unitycoe.futuretechnologieslab.com/accelerator.html" target="_blank") JOIN NOW
            .course-item
              .top
                h4 XR Course
                p Kerala Startup Mission along with Unity Technologies is providing a Unity Certification course for professionals and students. The course bundle will include the official Unity Courseware along with the Unity Associate Certification Exam. This will be a 2 month long course which will include both online as well as hands on sessions.
              .bottom
                a(href="https://unitycoe.futuretechnologieslab.com/course" target="_blank") JOIN NOW
            .course-item
              .top
                h4 XR Community
                p There is an active community being built up around the current ecosystem. An XR community comprising of industry experts, startups, enthusiasts and students. This will function as a platform for experts to share knowledge, for startups and freelancers to obtain and create opportunities and for individuals to contribute.
              .bottom
                a(href="https://unitycoe.futuretechnologieslab.com" target="_blank") JOIN NOW


    section.section-content#story
      .container
        .col-sm-12
          h2 Success Story!
        .stories.carousel.slide#story-carousal(data-interval="2000" data-ride="carousel")
          //- ol.carousel-indicators
          //-   li.active(data-target='#story-carousal' data-slide-to='0')
          //-   li(data-target='#story-carousal' data-slide-to='1')
          .carousel-inner
            .carousel-item.active
              .story
                .content
                  p Folks at KSUM Future Technologies Lab have been a strong pillar of support for BuildNext on multiple fronts. 2016/17 were early years for high-end VR development in India but thanks to the lab’s vibrant community and internship programs, we were able to find great talent and make timely hires who have grown with the company. The lab has also helped us over the years in getting access to high-end hardware/software as well as in connecting us with valuable industry partners through several expos and programs. The most recent example would be the XR Accelerator program through which we are currently working with Unity to push the limits in high-end VR for the construction industry.
                .author
                  .image
                    img.img-fluid(src="./img/savio-nueroplex.jpg")
                  .person
                    h4 Dileep P G
                    p Co-Founder, BuildNext
            
    section#membership
      .container
        .row
          .col-sm-12.text-center
            h3 Choose Your Membership Plan
            p.small.m-0  The plans are applicable only for selected Startups and individuals working in emerging technologies. 
            a.small(href="#") Check your eligibility now!
            p.small For corporate Membership, please 
              a(href="contact.pug") write to us!
          .plans
            .plan-item
              .top
                h4 NOVICE
                h2 2000
                p.small Per Month
                ul
                  li 1 flexi seat
                  li Access to XR Lab
                  //- li Access to 5 day crash course
              .bottom
                //- a(href="/console/register") JOIN NOW
                a(href="#" onclick="alert('Registration closed Temporarly')") JOIN NOW
            .plan-item.featured
              .top
                h4 PRO
                h2 4000
                p.small Per Month
                ul
                  li 1 flexi seat
                  li Access to XR Lab
                  li Dedicated officer as single PoC for all KSUM Schemes & supports
                  li Monthly Brainstorming 
              .bottom
                //- a(href="/console/register") JOIN NOW
                a(href="#" onclick="alert('Registration closed Temporarly')") JOIN NOW
            .plan-item
              .top
                h4 XR software package
                h2 30000
                p.small Per Month
                ul
                  li 1 Unity Pro License
                  li Dedicated officer as single PoC for all KSUM Schemes & supports
              .bottom
                //- a(href="/console/register") JOIN NOW
                a(href="#" onclick="alert('Registration closed Temporarly')") JOIN NOW


    include parts/footer.pug

    script(src="./js/index.js")
    script(src="./js/youtube.js")
    script(src="./js/ailab.js")
